<div class="creator" data-type="{{ type }}" {% if content is defined %}data-id="{{ content.id }}"{% endif %}>
    <div class="content row-fluid">
        <div class="border span12">
            <input 
            type="text" 
            placeholder="{{ "Optional title" | trans({}, 'content') }}..." 
            class="content-title"
            {% if content is defined %}value="{{ content.title }}"{% endif %}
            >
        </div>
    </div>
    <div class=" content row-fluid">
        <div class="border span12">
            <textarea 
                class="content-text" 
                placeholder="{{ "Create" | trans({}, 'content') }} {{ "a content" | trans({}, 'content') }}..."
                >{% if content is defined %}{{ content.content }}{% endif %}</textarea>

            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a href="#"><i class="icon-picture"></i> {{ "Add Pictures" | trans({}, 'content') }}</a></li>
                        <li><a href="#"><i class="icon-paper-clip"></i> {{ "Add Files" | trans({}, 'content') }}</a></li>
                        <li class="divider-vertical"></li>
                    </ul>    
                    <ul class="nav pull-right">
                        {% if content is defined %}
                        <li><div><a class="cancel-button btn">{{ 'Cancel' | trans({}, 'content') }}</a></div></li>
                        <li>&nbsp;&nbsp;</li>
                        <li><div><a class="edit-button btn btn-primary">{{ 'Edit' | trans({}, 'content') }}</a></div></li>
                        {% else %}
                        <li><div><a class="creator-button btn btn-primary">{{ 'Create' | trans({}, 'content') }}</a></div></li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
